/* Стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили для заголовка */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #444;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #555;
}

nav ul li a:hover {
    background-color: #666;
}

/* Стили для секции */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
